.home-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.hydro-stacker-header-1 {
    font-size: 5vw;
    height: 100%;
    color: #218380;
}

.section-1 {
    display: flex;
    justify-content: space-between;
}

.section-1-content p {
    font-size: 2vw;
    text-align: left;
    color: #218380;
    margin: 0;
    padding: 15px;
}

.section-1-content {
    display: flex;
    /* align-items: center; */
    /* background-color: #fee440; */
    background-color: white;
    width: 100%;
}

.section-1-image {
    width: 50%;
    border-radius: 5%;
}

.hydro-stacker-header-2 {
    font-size: 5vw;
    height: 100%;
    color: #fee440;
}

.section-2 {
    display: flex;
    justify-content: space-between;
}

.section-2-content {
    display: flex;
    /* align-items: center; */
    /* background-color: #218380; */
    background-color: white;
    width: 100%;
}

.section-2-content p {
    font-size: 2vw;
    text-align: left;
    /* color: #fee440; */
    color: #218380;
    margin: 0;
    padding: 15px;
}

.section-2-image {
    width: 50%;
    height: 75vh;
    border-radius: 5%;
}

.section-3 {
    display: flex;
    justify-content: space-between;
}

.section-3-content {
    display: flex;
    /* align-items: center; */
    /* background-color: #fee440; */
    background-color: white;
    width: 100%;
}

.section-3-content p {
    font-size: 2vw;
    text-align: left;
    color: #218380;
    margin: 0;
    padding: 15px;
}

.section-3-image {
    width: 50%;
    height: 75vh;
    border-radius: 5%;
}

.section-education h1 {
    font-size: 5vw;
    color: #218380;
}

.section-education p {
    font-size: 2.5vw;
    color: #218380;
    text-align: left;
    padding: 5px;
}