.home-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.hydro-stacker-header {
    font-size: 5vw;
    height: 100%;
    color: #218380;
}

.home-container div {
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width: 500px) {
    .section-content {
       display: flex;
       flex-direction: column;
    }

    #section-education-para {
        font-size: 3vw;
    }

    #section-image {
        width: 100%;
        height: 50vh;
    }

    #section-para {
        height: 30vh;
        font-size: 3vw;
    }
}

.section-paragraph {
    font-size: 2vw;
    text-align: left;
    color: #218380;
    margin: 0;
    padding: 15px;
}

.section-1-content {
    display: flex;
    background-color: white;
    width: 100%;
}

.section-content img {
    width: 50%;
    height: 75vh;
}

.section-2-content {
    display: flex;
    background-color: white;
    width: 100%;
}

.section-3-content {
    display: flex;
    background-color: white;
    width: 100%;
}

.section-education {
    display: flex;
    flex-direction: column;
}

.section-education h1 {
    font-size: 5vw;
    color: #218380;
}

.section-education p {
    font-size: 2.5vw;
    color: #218380;
    text-align: left;
    margin: 0;
}