.form-container {
    display: flex;
    justify-content: center;
    width: 100%;
    padding-top: 1%;
    padding-bottom: 1%;
}

.form-content {
    width: 90%;
    background-color: #60d394;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
}

.contact-form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 75%;
    height: 80%;
}

.form-top {
    display: flex;
    flex-direction: column;
}

.form-top div {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding-bottom: 1%;
}

.form-top label {
    font-size: 2vw;
}

.form-bottom {
    display: flex;
    flex-direction: column;
}

.form-bottom input {
    height: 10vh;
    font-size: 2vh;
}

.form-bottom label {
    font-size: 2vw;
    padding-bottom: 1%;
}

.contact-form button {
    width: 35%;
    font-size: 2vh;
}