.nav-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 1%;
    width: 100%;
}

.navbar {
    display: flex;
    justify-content: space-between;
    width: 90%;
}

.nav-logo {
    width: 10%;
}

#nav-links {
    display: flex;
    justify-content: space-between;
    padding-top: 1%;
    width: 70%;
}

#nav-links a {
    text-decoration: none;
    color: black;
    font-size: 2vw;
}

#nav-links a:hover {
    border-bottom: 2px solid #60d394;
    cursor: pointer;
    height: 90%;
}

/* #menu-icon {
    display: none;
} */

/*-------MOBILE NAVIGATION BAR ------------*/
/* @media only screen and (max-width: 500px) {


    #menu-icon {
        display: block;
    }

    #nav-links {
        flex-direction: column;
        justify-content: space-around;
        height: auto;
    }

} */